<div class="flex flex-col h-full">
  <div class="p-1 text-center bg-grey-darkest text-grey-lightest">
    <span>
      Action Menu
    </span>
  </div>
  <div class="flex-grow p-5 bg-grey-dark text-grey-lightest">
    <ng-container [ngSwitch]="playerActionMenuFacade.activeMenuType$ | async">
      <acquire-player-action-menu-place-tile
        *ngSwitchCase="actionMenuType.PLACE_TILE"
        [selectedBoardSquareId]="
          boardSquareFacade.selectedBoardSquareId$ | async
        "
        (confirm)="playerFacade.confirmTilePlacement($event)"
      ></acquire-player-action-menu-place-tile>

      <acquire-player-action-menu-start-hotel-chain
        *ngSwitchCase="actionMenuType.START_HOTEL_CHAIN"
        [hotelChains]="hotelChainFacade.inactiveHotelChains$ | async"
        (hotelSelected)="playerFacade.starterHotelChainChosen($event)"
      >
      </acquire-player-action-menu-start-hotel-chain>

      <acquire-player-action-menu-end-turn
        *ngSwitchCase="actionMenuType.END_TURN"
        (endTurn)="playerFacade.endTurn()"
      ></acquire-player-action-menu-end-turn>

      <acquire-player-action-menu-computer-moving
        *ngSwitchCase="actionMenuType.COMPUTER_MOVING"
      >
      </acquire-player-action-menu-computer-moving>
    </ng-container>
  </div>
</div>
